:root {
    --headingbackgroundcolor: red;

    --barColor: rgb(178, 232, 240);
    --barCheckingColor: orange;
    --barMisplacedColor: red;
    --barCorrectPositionColor: rgb(96, 250, 96);

    --algoSidebarColor: rgb(23, 16, 51);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;

    height: 100%;
}

body {
    width: 100vw;
    height: 100vh;

    font-size: 3rem;

    display: flex;
    flex-direction: column;
}

.heading {
    height: 9%;

    text-align: center;

    background: linear-gradient(45deg, #1b5364, #000000);

    border: 4px solid black;
}

.heading_text {
    margin-top: 1rem;

    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    font-size: 5.3rem;
    color: white;
}

.container {
    flex: 1;
    height: 100%;

    display: flex;
}

.algo_sidebar {
    background-color: var(--algoSidebarColor);
    width: 13%;
}

.container1 {
    flex: 1;

    display: flex;
    flex-direction: column;
}

.button_container {
    background: linear-gradient(0deg, #f7ffe1, #b8d1f1);
    display: flex;
    flex-direction: row;

    border: 4px solid black;

    /* flex-wrap: nowrap; */
}

.buttonDiv {
    width: 35%;

    display: flex;
    justify-content: space-evenly;
}

.generateNewListContainer {
    width: 35%;
    display: flex;
    flex-direction: column;
}

.generateSubButtonContainer {
    display: flex;
    justify-content: space-evenly;
}

#generateNewListHeading {
    justify-content: center;
    align-self: center;

    /* background-color: white; */

    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 3rem;

    font-weight: 700;
    height: 40%;
    width: 50%;
    text-align: center;
    margin-top: 1rem;
}

.inputDiv {
    /* margin: 1rem; */
    display: flex;
    flex-direction: column;
}

.listSizeDiv {
    flex: 1;
    display: flex;

    margin: 1.5rem;
}

.listSizeDiv > div {
    color: black;
    text-align: center;
}

.bttn {
    align-self: center;

    justify-content: center;
    margin: 0.4rem;
    text-align: center;
}

.bttn {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 60;
    -moz-border-radius: 60;
    border-radius: 60px;
    -webkit-box-shadow: 7px 8px 17px #666666;
    -moz-box-shadow: 7px 8px 17px #666666;
    box-shadow: 7px 8px 17px #666666;
    font-family: Arial;
    color: #ffffff;
    font-size: 15px;
    padding: 8px 22px 8px 20px;
    border: solid hsl(268, 89%, 48%) 4px;
    text-decoration: none;
}

.bttn:hover {
    background: #a9fc3c;
    background-image: -webkit-linear-gradient(top, #a9fc3c, #d9d934);
    background-image: -moz-linear-gradient(top, #a9fc3c, #d9d934);
    background-image: -ms-linear-gradient(top, #a9fc3c, #d9d934);
    background-image: -o-linear-gradient(top, #a9fc3c, #d9d934);
    background-image: linear-gradient(to bottom, #a9fc3c, #d9d934);
    text-decoration: underline;

    color: black;
}

.bttn:hover {
    cursor: pointer;
}

.disabledButton {
    background: red;
}

.disabledButton:hover {
    cursor: not-allowed;
    background: red;
}

input {
    color: red;
    background: red;
}
.algo_detail {
    background-color: rgb(209, 228, 231);
    height: 10%;
    text-align: center;
}

.algo_detail > p {
    margin: 1.5rem;
    color: black;
}

.list_bar_container {
    background: linear-gradient(to top left, #111311, #3c4b42);
    flex: 1;

    display: flex;
}

.list_bar_inner_container {
    /* background: linear-gradient(to top left, #7c69e7, #50107a); */
    height: 90%;

    margin: 2%;

    width: 85%;

    display: flex;
    flex-direction: row;
}

.bottom_bar {
    background-color: azure;
    height: 5%;
}

.statusTimerContainer {
    margin-top: 3rem;
    flex: 1;
    height: 100%;

    display: flex;
    flex-direction: column;

    color: white;
}
.statusContainer {
    /* background-color: yellow; */

    font-family: sans-serif;
    height: 20%;
}

.statusHeader {
    font-size: 4rem;
    font-weight: 700;
}

#sedcatImage {
    margin: 1rem;
    height: 100%;
    width: 80%;
}

.hidden {
    display: none;
}

/*  */
/* 
 */
/*  */
/* 
 */
/*  */
/* 
  */
/* 
 */

/* .headerMenu {
    background: yellow;
}
 */

.logo {
    font: 300 1em "Source Sans Pro", Helvetica, Arial, sans-serif;
    text-align: center;
    padding: 0;
    margin: 0;
}
.logo {
    display: block;
    padding: 1em 0;
    color: #dfdbd9;
    text-decoration: none;
    transition: 0.5s linear color;
}
.logo hover {
    color: yellow;
}
.logo hover span {
    color: #df4500;
}
.logo span {
    font-weight: 700;
    transition: 0.15s linear color;
}
.main-nav ul {
    border-top: solid 1px #3c3735;
}
.main-nav li {
    border-bottom: solid 1px #3c3735;
}
.main-nav a {
    padding: 1.1em 0;
    color: #dfdbd9;
    font: 400 2rem "Source Sans Pro", Helvetica, Arial, sans-serif;
    text-align: center;
}
.main-nav a:hover {
    color: yellow;
    background-color: rgb(212, 58, 212);
}
.list-hover-slide li {
    position: relative;
    overflow: hidden;
}
.list-hover-slide a {
    display: block;
    position: relative;
    z-index: 1;
    transition: 0.35s ease color;
}
.list-hover-slide a:before {
    content: "";
    display: block;
    z-index: -1;
    position: absolute;
    left: -100%;
    top: 0;
    width: 100%;
    height: 100%;
    border-right: solid 5px #df4500;
    transition: 0.35s ease left;

    background: #1943fd;
    color: black;
}

.list-hover-slide a.is-current:before,
.list-hover-slide a:hover:before {
    left: 0;
}

.selectedAlgoMenu {
    background: #1943fd;
}

.algo_sidebar a {
    text-decoration: none;
}

.bottom_bar {
    display: flex;
    background-color: black;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
}

.linkContainer {
    width: 30%;

    display: flex;
    flex-direction: row;
    margin-left: 5rem;
    align-items: center;
}

.socialMediaContainer {
    flex: 1;
}

#githubLink {
    border-radius: 45%;
    background-color: white;

    padding: 0.5rem 2rem;
    font-size: 1.9rem;

    /* -webkit-border-radius: 60;
    -moz-border-radius: 60; */
    border-radius: 5rem;
}

.socialMediaContainer {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.socialMediaIcon {
    background-color: white;
    margin-right: 3rem;
    border: 1.5px solid orange;

    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 1.6rem;
    padding: 0.5rem 2rem;
    border-radius: 5rem;

    background: linear-gradient(70deg, #bde2ee, white);
}

a {
    text-decoration: none;
}

.levitating:hover {
    transition: 300ms transform;

    transform: translateY(-0.6rem);
}

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */

/*  */
/*  */

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
